name: Python Testing

on:
    push:
        branches:
            - dev
            - main
    pull_request:
        branches:
            - main

# using parts of approach from https://jacobian.org/til/github-actions-poetry/
jobs:
    test:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                python-version: ["3.9", "3.10", "3.12", "3.13"]

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install uv and set the Python version
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true
                python-version: ${{ matrix.python-version }}

            - name: Install the project
              run: uv sync --locked --all-extras --dev

            - name: Run tests
              run: uv run pytest
